@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Mono&display=swap');
:root
{
  --primary-color: #1c3144;
  --secondary-color: #ba3b46;
  --accent1-color: #bcd2ee;
  --accent2-color: #5b8266aa;

  --heading-font: Merriweather;
  --paragraph-font:'Roboto Mono', serif;
  --nav-background-color:  #eeeeee;
  --nav-link-color:  #1c2144;
  --nav-hover-link-color:  #bcd2ee;
  --nav-hover-background-color: #5b8266;
}
.hero img{
    width: 100%;
    display: block;
    height: auto;
}
h1{
    position: absolute;
    top: 180px;
    left: 350px;
    color: #bcd2ee;
}
article{
    position: absolute;
    width: 1244px;
    height: auto;
    top: 773px;
    left: 10px;
    font-family: var(--paragraph-font);
    background-color: var(--accent2-color);
}
article img{
    padding: 50px;
    float: right;
    width: 200px;
    height: auto;
}
footer div{
    height: 130px;
    background-color: var(--accent1-color);
}
footer div img{
    position: relative;
    top: 20px;
    height: 100px;
}