@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Mono&display=swap');
:root
{
  --primary-color: #1c3144;
  --secondary-color: #ba3b46;
  --accent1-color: #bcd2ee;
  --accent2-color: #5b8266aa;

  --heading-font: Merriweather;
  --paragraph-font:'Roboto Mono', serif;
  --nav-background-color:  #eeeeee;
  --nav-link-color:  #1c2144;
  --nav-hover-link-color:  #bcd2ee;
  --nav-hover-background-color: #5b8266;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 620px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
img {
	margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}
h1{
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
    text-align: center;
    color: white;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: inline;
    justify-content: space-around;
	color: navy;
	padding: 20px;
	text-decoration: none;
}
.name{
    color: #000;
}
.hero{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 800px 200px;
}
.raft{
 height: 250px;
 width: auto;   
}
.satisfied{
    height: 200px;
    width: auto;
}
article{
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    background-color: var(--accent2-color);
}
.history{
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--nav-background-color);
    text-align: left;
}
.history-heading{
    grid-column-start: 1;
    grid-column-end: 3;
}
article img{
    padding: 50px;
    float: right;
    width: 200px;
    height: auto;
    
}
h2{
    text-align: center;
}
.adventure-awaits{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 225px;
    align-content: space-around;
}
.adventure-awaits-heading{
    grid-column-start: 1;
    grid-column-end: 6;
}
footer div{
    height: 125px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 350px auto auto auto auto;
    padding-top: 12px;
}
footer div p{
    height: 60px;
    text-align: center;
    padding-top: 35px;
}
img{
    height: 100px;
    width: auto;
}
figure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 85px;
    
    max-width: 1000px;
    align-items: center;
}
figcaption{
grid-row: 2;
text-align: center;
}
.info{
    padding: 10px;
    background-color: rgba(236, 233, 233, 0.786);
    width: 350px;
    border: 1.5px solid black;
    border-radius: .5rem;
}
.happy{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content:space-around;
    background-color: #5b8266;
    padding: 1.0rem;
    margin: 1rem;
}
form{
    margin: 1rem;
    background-color: rgba(236, 233, 233, 0.75);
    border: 1.5px solid black;
    border-radius: .5rem;
}
 fieldset{
    border: none
}
label{
    margin: 3px;
}
button{
    width: 300px;
    height: 30px;
    color: white;
    background-color: green;
}
button:hover{
    background-color: navy;
}
.map{
    text-align: center;
}
input[type="checkbox"]{
    width: 22px;
    height: 22px;
}
.home-grid{
    display:grid;
    background-image: url(http://127.0.0.1:5500/wwr/images/homeheroimage.jpg);
    gap: 50px;
    grid-template-columns: .5fr 2fr .5fr;
    
    
}
.testimonial{
    background-color: rgba(236, 233, 233, 0.6);
    border: 3px solid #000;
    border-radius: .3rem;
    margin: 3px;
    box-shadow: 0 0 30px 
    
}
.hurry{
    margin-top: 2.5em;
    background-color: rgba(236, 233, 233, 0.6);
    border: 2px solid black;
    border-radius: 5px;
}
.home-to-trips{
    font-size: larger;
    text-decoration-line: none;
}
.home-to-trips:hover{
    background-color: var(--nav-link-color);
    color: white;
}
.wireframe{ 
    margin-top: 3em;
    text-align: center;
}
.home-bottom{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: auto auto auto;
    margin-left: 150px;
    margin-bottom: 10px;
    }
.bottom-text{
    background-color: antiquewhite;
    width: 200px;
    background-color: rgba(236, 233, 233, 0.6);
    border: 1px solid black;
    border-radius: 5px;
}
.trip-description-box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
    row-gap: 1rem;
    background-color: antiquewhite;
    
}
.trip-image{
    width: 375px;
    height: 300px;
}
 th, td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: var(--accent1-color);
    text-align: center;
  }
  .trip-contact{
    text-align: center;
    font-size: x-large;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1px;
    background-color: var(--accent1-color);
    margin-bottom: 10px;
  }
  .bottom-table{
    border-bottom: none;
  }
  .right-table{
    border-right: none;
  }
  .table-text{
    text-align: center;
  }